.article__content, .article, .root__main, .root__header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.article__content, .article__header__desc, .article__header__heading {
  margin: 20px 50px;
}

.article, .root__header > h1 {
  background-color: rgba(112, 78, 14, 0.7);
  border: 3px solid rgb(143, 89, 18);
}

.root__header {
  flex-direction: column;
  align-items: center;
}
.root__header > h1 {
  padding: 10px;
}
.root__main {
  justify-content: center;
  padding: 10px 20px;
}

.article {
  flex-direction: column;
  margin: 15px;
}
.article__content {
  flex-direction: column;
}
.article__content > button {
  padding: 5px;
}
.article__content > label {
  font-weight: bold;
}
.article__content > * {
  margin-bottom: 15px;
}